.person-image {
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.no-image {
  width: 100px;
  height: 150px;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666;
}