<!-- Header section  -->
<ion-header>
  <ion-toolbar>

    <!-- Button to go back to Home page -->
    <ion-buttons slot="start">
      <ion-button (click)="goHome()">
        <ion-icon name="home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Page title -->
    <ion-title>Favourite Movies</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Main content area -->
<ion-content class="ion-padding">

   <!-- Message for no favourite movies -->
  <div *ngIf="favouriteMovies.length === 0">
    <p>No favourite movies added yet.</p>
  </div>

 <!-- Loop through favourite to display each movie -->
  <ion-card *ngFor="let movie of favouriteMovies">

    <!-- Show movie poster if it exists -->
    <img
      *ngIf="movie.poster_path"
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      alt="Movie poster"
    />

     <!-- Movie title -->
    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>

    <!-- Button to open movie-details page -->
    <ion-card-content>
      <ion-button size="small" (click)="openMovieDetails(movie.id)">
        Details
      </ion-button>

      <ion-button size="small" color="danger" (click)="removeFavourite(movie)">
        Remove
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>