<ion-header>
  <ion-toolbar>
    <ion-title>G00472952</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openFavourites()">
        <ion-icon name="heart" color="danger"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- Search input -->
  <ion-item>
    <ion-input
      label="Search"
      labelPlacement="stacked"
      placeholder="Movie Name"
      [(ngModel)]="searchText"
      (keyup.enter)="onSearch()">
    </ion-input>
  </ion-item>

  <!-- Search button -->
  <ion-button expand="block" color="primary" (click)="onSearch()">
    SEARCH
  </ion-button>

  <!-- Clear search button -->
  <ion-button expand="block" fill="outline" color="medium" (click)="clearSearch()">
    CLEAR SEARCH
  </ion-button>

  <!-- Loading spinner -->
  <ion-spinner *ngIf="loading"></ion-spinner>

  <!-- Page title -->
  <h2>{{ pageTitle }}</h2>

  <!-- No results message -->
  <p *ngIf="!loading && movies.length === 0">
    No movies found
  </p>

  <!-- Movie cards -->
<ion-card
  class="movie-card"
  *ngFor="let movie of movies"
  [routerLink]="['/movie-details', movie.id]">

  <ion-card-content>
    <h3>{{ movie.title }}</h3>
  </ion-card-content>

  <div class="poster-wrapper">
    <img
      *ngIf="movie.poster_path; else noImage"
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      alt="Movie poster"
    />

    <ng-template #noImage>
      <p class="no-image">No image</p>
    </ng-template>
  </div>

  <ion-card-content>
    <p>{{ movie.overview }}</p>
  </ion-card-content>

</ion-card>

