<ion-header>
  <ion-toolbar>
    <ion-title>G00472952</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="openFavourites()">
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input
      label="Search"
      labelPlacement="stacked"
      placeholder="Movie Name"
      [(ngModel)]="searchText">
    </ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="onSearch()">
    SEARCH
  </ion-button>

  <h2>{{ pageTitle }}</h2>

  <ion-card *ngFor="let movie of movies" (click)="openMovieDetails(movie.id)">
    <img
      *ngIf="movie.poster_path"
      [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path"
      alt="Movie poster"
    />

    <ion-card-content>
      <h3>{{ movie.title }}</h3>
      <p>{{ movie.overview }}</p>
    </ion-card-content>
  </ion-card>
</ion-content>